@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, .section-container {
        height: auto; /* Changed from fit-content to auto */
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-container {
        margin-top: 0;
    }

    footer nav {
        height: auto; /* Changed from fit-content to auto */
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 600px)
{
    #contact, footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;

    footer nav {
        height: fit-content;        margin-bottom: 0;
        margin-bottom: 2rem;
    }

    .about-container, .contact-info-upper-container, .btn-container {   font-size: 1rem;
        flex-wrap: wrap;    }
    }

    .contact-info-container {   height: fit-content;
        margin: 0;        margin-bottom: 2rem;
    }

    .contact-info-container p, .nav-link li a {about-container, .contact-info-upper-container, .btn-container {
        font-size: 1rem;        flex-wrap: wrap;
    }

    .experience-sub-title {contact-info-container {
        font-size: 1.25rem;        margin: 0;
    }

    .logo {contact-info-container p, .nav-link li a {
        font-size: 1.25rem;        font-size: 1rem;
    }

    .nav-links {experience-sub-title {
        flex-direction: column;        font-size: 1.25rem;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;on: column;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }ner {

    .title {   height: 46vw;
        font-size: 2rem;        justify-content: center;
    }

    .text-container {section__text__p2 {
        text-align: justify;        font-size: 1.25rem;
    }
}    }

    .text-container {
        text-align: justify;
    }
}